<div class="container-fluid">
    <div class="row mt-5 offset-4">
        <div class="col">
            <div class="col-7 mt-5">
                <div class="card shadow">
                    <div class="card-body">
                        <form >
                            <div class="mb-3">
                                <h4 class="text-dark text-muted text-center">Forgot Password</h4>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" class="form-control" aria-describedby="emailHelp"
                                    [formControl]="email">
                                <!-- <div class="alert alert-info">
                                    <ul> Valid: {{this.loginForm.get('email')?.valid}} </ul>
                                    <ul> Errors: {{this.loginForm.get('email')?.errors | json}} </ul>
                                </div> -->
                            </div>

                            <div class="text-center">
                                <button type="button" class="btn btn-outline-primary" (click)="send()" >Send</button>
                            </div>

                            <div class="row">
                                <div class="col text-start"> <a routerLink="/login"
                                        class="text-primary text-decoration-none">Back to Login</a></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>