<div class="container-fluid">
    <div class="row mt-5 offset-4">
        <div class="col">
            <div class="col-7 mt-5">
                <div class="card shadow">
                    <div class="card-body">
                        <form [formGroup]="loginForm" (submit)="login()">
                            <div class="mb-3">
                                <h4 class="text-dark text-muted text-center">Login</h4>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" class="form-control" aria-describedby="emailHelp"
                                    formControlName="email" [ngClass]="getClassAccordingToValid('email')">
                                <!-- <div class="alert alert-danger my-1 p-3" *ngIf="checkIsValid('email')">
                                    <ul *ngFor="let error of getErrors('email')"> {{error}}</ul>
                                </div> -->
                                <!-- <div class="alert alert-info">
                                    <ul> Valid: {{this.loginForm.get('email')?.valid}} </ul>
                                    <ul> Errors: {{this.loginForm.get('email')?.errors | json}} </ul>
                                </div> -->
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input type="password" class="form-control" formControlName="password">
                                <!-- <div class="alert alert-danger my-1 p-3" *ngIf="checkIsValid('password')">
                                    <ul *ngFor="let error of getErrors('password')"> {{error}}</ul>
                                </div> -->
                                <!-- <div class="alert alert-info">
                                    <ul> Valid: {{this.loginForm.get('email')?.valid}} </ul>
                                    <ul> Errors: {{this.loginForm.get('password')?.errors | json}} </ul>
                                </div> -->
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-outline-primary">Log In</button>
                            </div>

                            <div class="row">
                                <div class="col text-start"> <a routerLink="/register"
                                        class="text-danger text-decoration-none">Need Account ?</a></div>
                                <div class="col text-end "> <a routerLink="/forgot-password"
                                        class="text-decoration-none"> Forgot
                                        Password</a></div>
                            </div>
                            <div class="row mt-2">
                               <a (click)="signInWithGoogle()" style="cursor:pointer">
                                <div class="card shadow text-center">
                                    <div class="card-body">
                                        <img src="./../../../assets/google_icon_48px.png" alt="google icon"> Sign In with Google
                                    </div>
                                </div>
                               </a>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</div>