<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mt-5">
                <div class="card-header">
                    <div class="text-muted fs-4 text-center">Email Verify</div>
                </div>
                <div class="card-body">
                    <p class="text-muted">Link has sent on your registered email. Please verify it.</p>
                    <div class="card-footer">
                        <a routerLink="" class="text-decoration-none">Login Ekranına Dön</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>